@font-face {font-family: Stratum2; src: url('stratumno2_regular.otf')}

.img-container {
  display: flex;
  justify-content: center; /* Horizontally centers */
  align-items: center;    /* Vertically centers (if container has height) */
}

body {
	background: linear-gradient(-45deg, #020024, #090979, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
